nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #008c8c;
  border: 1px solid;
  padding: 3px;
  border-radius: 6px;
}
nav a:hover {
  color: yellowgreen;
}
nav a.active {
  color: #000;
}
nav a.active:hover {
  color: lightcoral;
}