.container {
  width: 300px;
}
.exit {
  transform-origin: left top;
}
.exit-active {
  transition: 1s;
  transform: scale(0);
}
.enter, .appear {
  transform: left top;
  transform: scale(0);
}
.enter-active, .appear-active {
  transform: scale(1);
  transition: 1s;
}