.container {
  width: 100px;
  margin: 0 auto;
}

.copContainer {
  height: 100px;
  position: relative;
}

.copContainer .title {
  position: absolute;
  left: 0;
  top: 0;
}

.exit-done {
    display: none;
}