.gridTable {
  height: 600px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  grid-auto-rows: 50px; 
  grid-auto-flow: row;
  place-items: center center;
}
.tab {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
  margin: 20px 0;
}
table tr {
  height: 35px;
}

table th, table td {
  border: 1px solid #ccc;
}